main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.total-income-div {
  display: flex;
  align-items: center;
}

.total-income {
  font-size: 1.3rem;
  font-weight: 400;
}

.total-income-amt {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 0.3rem;
}

.band-select,
.books-btn {
  font-weight: 600;
  width: 70%;
  max-width: 18rem;
  height: 3rem;
  min-height: 3rem;
  text-align: center;
}

.income-display {
  height: 100%;
  min-height: 40vh;
  width: 100%;
  max-width: 1000px;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #D2D7D4;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.income-display-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #8f9591;
}

.total-band-income-div {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.total-band-income-div > h4 {
  font-weight: 500;
}

.total-band-income-div > p {
  margin-left: 0.3rem;
  font-weight: 500;
}

.no-band-data-msg {
  font-weight: 600;
  text-align: center;
}

.income-display-members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
  height: 100%;
  margin: 1rem auto;
  font-size: 1.1rem;
}
