main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.total-income-div {
  display: flex;
  align-items: center;
}

.total-income {
  font-size: 1.3rem;
  font-weight: 400;
}

.total-income-amt {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: .25rem;
}

.band-select, .books-btn {
  font-weight: 600;
  width: 70%;
  max-width: 18rem;
  height: 3rem;
  min-height: 3rem;
  text-align: center;
}

.income-display {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  border: none;
  border-radius: 5px;
  background-color: #808f855f;
}