.all-mem-agg-section,
.total-agg-section {
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
}

.all-mem-agg-section {
  height: 37vh;
  background-color: #d2d7d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-mem-agg-container {
  width: 85%;
  max-width: 700px;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-mem-agg-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #571e36;
}

.all-mem-agg-display {
  overflow-y: scroll;
  height: 28vh;
  width: 100%;
}

.mem-agg-income-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #b8b8b8;
}

.mem-agg-income {
  width: 5.25rem;
}

.total-agg-section {
  height: 100%;
  background-color: #571e368f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-table {
  width: 100%;
  min-width: fit-content;
  max-width: 700px;
  border-collapse: collapse;
}

.total-table-label-col,
.total-table-amt-col {
  font-size: 0.85rem;
  border-bottom: 1px solid black;
}

.total-table-amt-col {
  font-weight: 700;
  padding-left: 1rem;
  text-align: right;
}
