* {
  font-family: "Hind";
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

button,
select {
  border: 1px solid #808f85;
  border-radius: 20px;
  background-color: #808f8587;
  color: #000;
  font-weight: 700 !important;
  cursor: pointer;
}

button:focus, select:focus {
  border-color: #cfd11a;
}

p {
  font-weight: 400;
}

.gigboss-nav {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: #f2460d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gigboss-logo {
  height: 60%;
}
